*.properties
!*-sample.properties

*.jpage
*.jar
*.war
*.ear
hs_err_pid*
.attach_pid*

# Build tool
bin/
/dist/
# https://github.com/github/gitignore/blob/master/Maven.gitignore
build/
log/
/target/

# Eclipse
/.classpath
/.project
/.settings/
/.springBeans
/.idea/
*.iml
*.iws
